body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#blog-card {
  height: 28rem;
  width: 18rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5%;
  margin: 100%;
}
#blog-card .image {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#blog-card .image img {
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}
#blog-card .blog_section {
  height: 30%;
  width: 100%;
}
#blog-card .blog-section .blog-information {
  height: 70%;
  width: 90%;
  padding: 15px;
}
#blog-card .blog-section .blog-information h5 {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    font-weight: 800;
    font-size: 0.8rem;
    display: inline;
    padding: 8px;
}
#blog-card .blog-section .blog-information p {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.7;
    margin-top: 1rem;
}
#blog-card .blog-section .blog-information h2 {
    font-size: 1.3rem;
    font-weight: 900;
    margin-top: 1rem;
}
#blog-card .blog-section .blog-information .profile-name{
    font-size: 0.8rem;
    font-weight: 700;
    opacity: 0.7;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    opacity: 1;
}
#blog-card .blog-section .blog-information .profile-name h6{
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.9;
}
#blog-card .blog-section .blog-information img {
    object-fit: cover;
    height: 2.5rem;
    width: 2rem;
}
.attribution {
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
